.bg-1 {
  background-image: url("../../../../assets/images/bg-wave.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 120px;
  padding-top: 120px;
  display: block;
}
