<td class="px-4 py-3">{{ rowNumber }}</td>
<td class="px-4 py-3 text-center">{{ item.status }}</td>
<td class="px-4 py-3 text-left font-semibold">{{ item.amount }}</td>
<td class="px-4 py-3 text-left">{{ item.plan?.name }}</td>
<td class="px-4 py-3 text-left">{{ item.staked_at }}</td>
<td class="text-center">
  <!--   {item.release_date && (
      <div class="w-16 mx-auto text-center">
        <CircularProgressbar
          value={item.remaining}
          maxValue={item.plan.days}
          text={item.remaining}
          styles={progressbarStyle}
        />
      </div>
    )} -->
</td>
<td class="px-4 py-3 text-left">{{ item.release_date }}</td>
