<section class="pb-32">
  <div class="container">
    <div class="flex-row justify-center">
      <div class="col-xl-8">
        <div class="cta-wrapper bg_img border-radius--10 text-center bg-8">
          <h2 class="title mb-3 text-white">
            Scan the QR CODE to install the DIAMOND-STAKE application on your phone or click on it if you already opned it on your mobile device
          </h2>
          <div class="flex items-center justify-center gap-5 flex-wrap mt-10">
            <a
              href="https://app.diamond-stake.com/install"
              target="_blank"
              class="flex items-center justify-center app-link bg-[#C99C3B] rounded-full"
            >
              <img src="../../../../assets/images/qrcode_app.png" alt="" class="w-40 h-40" />
            </a>
            
          </div>
          <!-- <p>
            This is a Revolutionary Money Making Platform! Invest for Future in
            Stable Platform and Make Fast Money. Not only we guarantee the
            fastest and the most exciting returns on your investments, but we
            also guarantee the security of your investment.
          </p> -->
          <!-- <a href="registration.html" class="cmn-btn mt-4">Join Us</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
