.bg-4 {
  background-image: url("../../../../assets/images/bg-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.package-card {
  padding: 30px;
  border: 3px solid #cca354;
  background-color: #000000;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  height: 100%;
  box-shadow: 0 0 15px rgb(204 163 84 / 50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.package-card__title {
  font-size: 32px;
}
.package-card:hover {
  box-shadow: 0 5px 15px rgb(204 163 84 / 50%);
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.base--color {
  color: #cca354 !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.package-card__features li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(204, 163, 84, 0.35);
}
.package-card__range {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}
[class*="btn"].btn-md {
  padding: 8px 30px;
}
.cmn-btn {
  padding: 12px 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #cca354;
  box-shadow: 0px 10px 20px 0px rgb(0 0 0 / 15%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #000000;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
@media (max-width: 991px) {
  .section-header {
    margin-bottom: 50px;
  }
}

.section-title {
  font-size: 44px;
  text-transform: capitalize;
}
.font-weight-normal {
  font-weight: 400 !important;
}
.base--color {
  color: #cca354 !important;
}
